<div>
      {{#each data.body.artist.items}} 
     <img class="artistPics" src="{{{this.image_url}}}"/>
     <h5 class="artistName">{{this.name}} </h5>
     
      {{/each}}
  </div>
        <a href=""> Click Me!</a>