<div id="homepage">
    <div id="form-container">
<form class="form" action="/artist-search" method="get">
    <input class="research" type="text" name="theArtistName" id="" placeholder="Insert artist name here...">
    <button class="button" type="submit"> Find artists! </button>
</form>
</div>
</div>

